@model IEnumerable<TrueCoach.Models.Journal>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}


<head>
    <link href="~/css/CreateJournal.css" rel="stylesheet" />
</head>

<h4>Accountability Journal Count is @Model.Count()</h4>



<form asp-controller="Journal" asp-action="Index">
   
</form>
<p>
   <a asp-action="Create">Add New Journal Entry</a>
</p>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Entry)
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Entry)
                    </td>

                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
